.garamond{
    font-family: 'EB Garamond', serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.color-primary{
    color: #414040;
}
.color-secondary{
    color: #707070;
}
.color-footer{
    color: #CFCFCF;
}
.element-color{
    background-color: #B68C5A;
}
.button-bg-color{
    background-color: #F3F3F3;
}
.bg-my-secondary{
    background-color: #F3F3F3;
}
.font-button-size{
    font-size: 20px;
}
.bg-header{
    background-image: url(../images/Rectangle4.png);
    height: 80vh;
    background-size: cover;
    border-radius: 10px;
}
.bg-footer{
    background-color: #111111;
}
.height-80vh{
    height: 80vh;
}
.car-bg-1{
    background-image: url(../images/Rectangle5.png), url(../images/Rectangle4.png);
    height: 80vh;
}